body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f2f5;
}

.parent {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    margin: 0.3%;
    grid-area: 1 / 1 / 2 / 17;
    display: flex;
    border-radius: 6px;
    background-color: #2c3e50;
    transition: 0.5s ease-in;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.div1:hover {
    transition: 0.9s;
    box-shadow: 0 8px 25px rgb(0, 0, 0);
}

.imag-1 {
    width: 70px;
    height: 70px;
    margin: 10px;
    box-shadow: 2px 2px 16px 8px #f39d12d6;
    margin-top: 7px;
    border-radius: 50px;
    transition: 0.3s ease-in;
}

.imag-1:hover {
    transform: rotate(709deg);
    transition: 1s ease;
    border-radius: 34px;
    box-shadow: none;
    margin: 11px;
    width: 100px;
    height: 120px;
    margin: 10px;
}

.matn {
    color: #ea950d; /* طلایی */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.792);
}

.div2 {
    grid-area: 1 / 15 / 2 / 17;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.div2 ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 3%;
    padding: 0%;
}

.div2 ul li {
    border-radius: 5px;
    color: #ffffff;
    background-color: #5d6d7e; /* آبی خاکستری */
    padding: 12px;
    display: block;
    transition: 0.4s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex-shrink: 0%;
}

.div2 ul li:hover {
    transition: 0.5s;
    background-color: #4a5664; /* آبی خاکستری تیره‌تر */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.div2 ul li a {
    padding: 6px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.div2 ul li a:hover {
    transition: 0.8s;
    color: #f39c12;
}

.div3 {
    text-align: center;
    width: 110px;
    flex-wrap: wrap;
    grid-area: 1 / 8 / 2 / 10;
}

.div3 h4 {
    margin-top: 45px;
    font-size: 50px;
    color: #f39c12;
    text-shadow: 1px 1px 6px #ffffff;
}

.div4 {
    margin: 4px;
    background-color: #34495e;
    grid-area: 2 / 1 / 7 / 6;
    border-radius: 7px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
}

.div4 h2 {
    text-align: center;
    font-weight: bold;
    color: #f39c12;
    text-shadow: 1px 1px 5px rgba(255, 204, 0, 0.5);
}

.div4 ul {
    list-style: none;
    padding: 0px 20px;
}

.div4 ul li {
    border-bottom: 1px solid #7f8c8d;
    margin: 25px 1px;
    color: #bdc3c7;
    font-size: 15px;
}

.div4 ul li strong {
    font-size: 17px;
    margin-right: 3px;
    color: #f39c12;
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.729);
}

.div4:hover {
    transition: 0.782s ease-in-out;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 0 10px 5px #f39c12;
}

.div5 {
    grid-area: 2 / 6 / 7 / 17;
    background-color: #34495e;
    border-radius: 7px;
    margin: 4px;
    padding: 0px 12px 0px 12px;
    transition: 0.4s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.div5:hover {
    transition: 0.782s ease-in-out;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 0 10px 5px #f39c12;
}
.div5 p {
    font-size: 20px;
    color: #ecf0f1;
    text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}
.div5 p strong
{
    text-shadow: 1px 1px 5px #ca8a00;
}
.div6 {
    display: flex;
    grid-area: 7 / 1 / 15 / 17;
    background-color: #2c3e50;
    border-radius: 6px;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skil {
    border-radius: 7px;
    height: 40%;
    padding: 10px;
    margin: 10px 10px 4px 10px;
    flex: auto;
    background-color: #34495e;
    align-content: space-evenly;
}

.skil-1 {
    border: 1px solid #f39c12;
    border-radius: 7px;
    height: 45%;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    background-color: rgba(52, 73, 94, 0.5);
}

.skil-11 {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    align-content: center;
    margin-left: 4px;
    background-color: #5d6d7e; /* آبی خاکستری */
    box-shadow: 0px 0px 11px 2px #f39c12;
    color: #ecf0f1;
}

.skil-11 p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 0px 20px;
}

.skil-111 {
    width: 75%;
    margin: 12.5% 0.5%;
    border-radius: 2px;
    border: solid #2c3e50;
    background-color: #7f8c8d;
}

.skil-1111 {
    width: 70%;
    color: #f39c12;
    box-shadow: 0px 0px 10px 2px #f39c12;
    border-radius: 0px 7px 7px 0px;
    background-color: #4a5664; /* آبی خاکستری تیره‌تر */
}
/* 2 / 5 / 6 / 11; */
.typo
{
    grid-area: 11 / 1 / 15 / 17;
    margin: 10px 12px;
    margin-top: 38px;
    background-color: rgb(60, 76, 91);
    border-radius: 8px;

}
.imag-2
{
    border-radius:4px ;
    width: 200px;
    height:100px ;
}
.skil-2 {
    border: 1px solid #f39c12;
    border-radius: 7px;
    height: 45%;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    background-color: rgba(52, 73, 94, 0.5);
}

.skil-21 {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    align-content: center;
    margin-left: 4px;
    background-color: #5d6d7e; /* آبی خاکستری */
    box-shadow: 0px 0px 11px 2px #f39c12;
    color: #ecf0f1;
}

.skil-21 p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 0px 20px;
}

.skil-211 {
    width: 100%;
    margin: 12.5% 0.5%;
    border-radius: 2px;
    border: solid #2c3e50;
    background-color: #7f8c8d;
}

.skil-2111 {
    width: 70%;
    color: #f39c12;
    box-shadow: 0px 0px 10px 2px #f39c12;
    border-radius: 0px 7px 7px 0px;
    background-color: #4a5664; /* آبی خاکستری تیره‌تر */
}